<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>Yum Extender</vendor>
 <vendor_url>http://yum-extender.org</vendor_url>

 <action id="org.yum-extender.backend.pkexec.run">
    <_description>Run Yum Extender backend</_description>
    <_message>Authentication is required to run Yum Extender</_message>
    <icon_name>syumex</icon_name>
    <defaults>
     <allow_any>no</allow_any>
     <allow_inactive>no</allow_inactive>
     <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/yumex/yumex-yum-backend</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>
</policyconfig>